.label {
  font-size: 1rem;
  color: #333;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.input {
  padding: 6px;
  border: transparent;
  border-radius: 4px;
  font-size: 0.875rem;
  color: #333;
  outline: none;
  transition: border-color 0.3s;
  min-width: 230px;
}

.input:focus {
  border-color: #61dafb;
}
