.contactContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.userName {
  display: flex;
  align-items: center;
  margin-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 150px;
}

.icon {
  margin-right: 8px;
  color: #61dafb;
}

.separator {
  height: 40px; /* Adjust to fit the content */
  border-left: 1px solid #ddd;
  margin-right: 16px;
}

p {
  display: flex;
  align-items: center;
  margin: 0;
}

.btn {
  background-color: #f25244;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ca4639;
}

.editBtn {
  margin-right: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s;
}

.editBtn:hover,
.editBtn:focus {
  background-color: #0056b3;
}
